python-dotenv
pytest
pytest-mock
pytest-cov
anyio
yfinance
pydantic
pydantic-settings
google-genai
fastapi
uvicorn
python-dotenv
pytest
pytest-mock
pytest-cov
anyio
pydantic
pydantic-settings
google-genai
fastapi
uvicorn
httpx
pandas
openai
python-multipart
scikit-learn
json-repair
beautifulsoup4==4.12.3
tenacity>=8.2.3
loguru==0.7.3
edgartools
sec-parseryfinance
