python-dotenv
pytest
pytest-mock
pytest-cov
anyio
yfinance
pydantic
pydantic-settings
google-genai
fastapi
uvicorn
httpx
pandas
openai
python-multipart
scikit-learn
json-repair
sec-edgar-downloader==3.0.2
beautifulsoup4==4.12.3
tenacity>=8.2.3
